body {
	padding: 0px;
	margin: 0px;
	background-color: f2f3f4;
}
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 90;
    box-shadow: 0px 2px 5px #555;
}
#logo-container {
    width: 162px;
    height: 60px;
    background-color: #547bc7;
}
#logo {
    height: 90%;
}
.menu {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #547bc7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 162px;
    /*box-shadow: 0px 2px 5px #555;*/
}
#menu-icon {
    width: 18px;
    height: 12px;
    padding: 9px 8px;
    margin-left: 15px;
    margin-top: 20px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 7px;
    position: absolute;
}

.search-container{
	background-color: whitesmoke;
	width: 150px;
	height: 12px;
	padding: 9px 9px;
	margin-left: 80px;
	margin-top: 20px;
	border-radius: 5px;
	position: absolute;
}
#search-bar {
	width: 18px;
	height: 18px;
	margin-left: 134px;
	margin-top: -3px;
	border-radius: 5px;
	position: absolute;
}
#search{
	color: gray;
	font-family: sans-serif;
	font-size: 14px;
	letter-spacing: 0px;
	margin-bottom: 10px;
	margin-top: -2px;
	position: absolute;
}
.submit-container {
	width: 75px;
	height: 20px;
	padding: 5px 5px;
	background-color: #104aa4;
	position: absolute;
	right: 33%;
	top: 19px;
	box-shadow: 0px 0px 5px white;
	border-radius: 5px;
}
#submit {
	position: absolute;
	letter-spacing: 0.8px;
	font-size: 14px;
	top: 21%;
	font-weight: 500;
	right: 16%;
	font-family: Helvetica Neue;
	color: whitesmoke ;
}

#register {
    position: absolute;
    right: 24%;
    top: 25px;
    font-size: 15px;
    letter-spacing: 0.5px;
}
#signin {
    position: absolute;
    right: 17%;
    top: 25px;
    font-size: 15px;
    letter-spacing: 0.5px;
}
#nav-container {
	position: absolute;
	width: 100%;
	height: 0px;
	top: 25%;
}
#navigation {
	position: absolute;
	top: -65px;
	left: 36%;
	width: 300px;
	height: 30px;
	background-color: white;
	border: 2px solid #547bc7;
	margin-bottom: 30px;
	border-radius: 5px;
}
#word {
	position: absolute;
	z-index: 100;
	font-family: Open Sans;
	letter-spacing: 0px;
	font-weight: 600;
	font-size: 21px;
	left: 1%;
	top: 3%;
}
#advanced {
	position: absolute;
	top: 110%;
	font-family: sans-serif;
	font-size: 9px;
	text-decoration: underline;
	left: 74%;
	letter-spacing: 0.2px;
}
#filter-container {
	position: absolute;
	top: -2px;
	left: 105%;
	padding: 5px 11px;
	background-color: white;
	border: 2px solid #547bc7;
	border-radius: 5px;
}
#filters {
	font-family: Helvetica Neue;
	color: #547bc7;
	letter-spacing: 0.5px;
	font-weight: 600;
}
#results {
	position: absolute;
	width: 100%;
	top: 10%;
	left: 6%;
	font-family: Helvetica Neue;
	font-size: 19px;
	color: gray; ;
	padding-bottom: 5px;
	border-bottom: 3px solid #bcc3f9;
}
#keyword {
	font-weight: bold;
	color: #455693;
}
.post {
    width: 250px;
    height: 300px;
    background-color: white;
    margin-bottom: 70px;
    margin-left: 50px;
    box-shadow: 3px 3px 5px #555;
}
.title {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    color: white;
    font-family: Open Sans;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: center;
    padding: 0px 25px;
}
.pic-title {
    height: 50px;
    width: 220px;
    position: absolute;
    padding-top: 5px;
    font-size: 16px;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: white;
    /* visibility: hidden; */
    opacity: 0;
    position: absolute;
    top: 0px;
}
/* 
.overlay:hover {
    opacity: 0.7;
}
 */

.img-scaled {
    height: 80px;
}
.img-container {
    height: 100%;
}
.arrow-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
}
.arrow-container:hover {
    cursor: pointer;
}
.arrow-up-red {
	display: none;
    position: absolute;
    
	top: 0px;
    
	margin: 0px 9px;
    z-index: 10;
}
.arrow-up {
    position: absolute;
    top: 20px;
    margin: 0px 85px;
}
.image-post {
    width: 220px;
    height: 270px;
    padding: 15px;
}
/* 
#arrow-down-container {
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 100%;
}
 */
.arrow-down-red {
    display: none; position: absolute; 
    bottom: 0px; 
    margin: 0px 10px; z-index: 10;
}
.arrow-down {
    position: absolute; 
    bottom: 20px; 
    margin: 0px 85px;
}
.pic-title-container {
    width: 220px;
    height: 50px;
    position: absolute;
    color: white;
    text-align: center;
    font-family: Open Sans;
    letter-spacing: 1px;
    top: 0px;
    /* background-color: #547bc7; */
    background-color: #8990c7;
    /* opacity: 0.9; */
    margin: 15px;
}
.title-only-bg {
    width: 220px;
    height: 270px;
    background-color: #8990c7;
    margin: 15px;
}
.author {
    color: #444;
    position: absolute;
    height: 24px;
    bottom: -33px;
    left: 0px;
    text-align: right;
    /* margin-right: 20px; */
    font-family: sans-serif;
    font-size: 14px;
}
.timestamp {
    color: #555;  position: absolute; height: 24px; 
    bottom: -35px;  
    right: 0px;
    text-align: right;  font-family: sans-serif; 
    font-size: 12px;
    opacity: 0.8;
}
#counter-container {
    position: absolute;
    top: 42%;
    height: 40px;
    width: 60px;
    border: solid 3px white;
    border-radius: 4;
    margin: 0px 91px;
}
#counter {
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-family: sans-serif;
    letter-spacing: 3px;
}
#qty {
    width: 100%;
    padding: 7px 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    background-color: white;
}
#post-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}