body {
	padding: 0px;
	margin: 0px;
	background-color: whitesmoke;
}
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    /* background-color: #547bc7; */
    z-index: 90;
    /* box-shadow: 0px 2px 5px #555; */
}
#logo-container {
    width: 162px;
    height: 60px;
    background-color: #547bc7;
}
#logo {
    height: 90%;
}
.menu {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #547bc7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 162px;
    /*box-shadow: 0px 2px 5px #555;*/
}
#menu-icon {
    width: 18px;
    height: 12px;
    padding: 9px 8px;
    margin-left: 15px;
    margin-top: 20px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 7px;
    position: absolute;
}

.search-container{
    background-color: whitesmoke;
    width: 150px;
    height: 12px;
    padding: 9px 9px;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
}
#search-bar {
    width: 18px;
    height: 18px;
    margin-left: 134px;
    margin-top: -3px;
    border-radius: 5px;
    position: absolute;
}
#search{
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    margin-top: -2px;
    position: absolute;
}
.submit-containerfirst {
    width: 75px;
    height: 20px;
    padding: 5px 5px;
    background-color: #104aa4;
    position: absolute;
    right: 33%;
    top: 19px;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
}
#submitfirst {
    position: absolute;
    letter-spacing: 0.8px;
    font-size: 14px;
    top: 21%;
    font-weight: 500;
    right: 16%;
    font-family: Helvetica Neue;
    color: whitesmoke ;
}

#register {
    position: absolute;
    right: 24%;
    top: 25px;
    font-size: 15px;
    letter-spacing: 0.5px;
}
#signin {
    position: absolute;
    right: 17%;
    top: 25px;
    font-size: 15px;
    letter-spacing: 0.5px;
}
/*#expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 40px;
    background-color: #547bc7;
    opacity: 0;
    transition: 0.2s;
    z-index: 10;

#register {
    height: 30px;
    width: 50px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    right: 17%;
    margin: 10px 0px;
}*/
/* 
#expand:hover {
	width: 100%;
	opacity: 1;
}
 */

.post {
    width: 250px;
    height: 300px;
    background-color: white;
    margin-bottom: 70px;
    margin-left: 50px;
    box-shadow: 3px 3px 5px #555;
}
.title {
    width: 220px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    color: white;
    font-family: Poiret One;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    padding: 0px 15px;
}
.pic-title {
    height: 50px;
    width: 220px;
    position: absolute;
    padding-top: 5px;
    font-size: 16px;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: white;
    /* visibility: hidden; */
    opacity: 0;
    position: absolute;
    top: 0px;
}
/* 
.overlay:hover {
    opacity: 0.7;
}
 */

.img-scaled {
    height: 80px;
}
.img-container {
    height: 100%;
}
.arrow-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
}
.arrow-container:hover {
    cursor: pointer;
}
.arrow-up-red {
	display: none;
    position: absolute;
    
	top: 0px;
    
	margin: 0px 9px;
    z-index: 10;
}
.arrow-up {
    position: absolute;
    top: 20px;
    margin: 0px 85px;
}
.image-post {
    width: 220px;
    height: 270px;
    padding: 15px;
}
/* 
#arrow-down-container {
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 100%;
}
 */
.arrow-down-red {
    display: none; position: absolute; 
    bottom: 0px; 
    margin: 0px 10px; z-index: 10;
}
.arrow-down {
    position: absolute; 
    bottom: 20px; 
    margin: 0px 85px;
}
.pic-title-container {
    width: 220px;
    height: 50px;
    position: absolute;
    color: white;
    text-align: center;
    font-family: Poiret One;
    letter-spacing: 2px;
    top: 0px;
    /* background-color: #547bc7; */
    background-color: #8990c7;
    /* opacity: 0.9; */
    margin: 15px;
}

.title-only-bg {
    width: 220px;
    height: 270px;
    background-color: #8990c7;
    margin: 15px;
}
.author {
    color: #444;
    position: absolute;
    height: 24px;
    bottom: -33px;
    left: 0px;
    text-align: right;
    /* margin-right: 20px; */
    font-family: sans-serif;
    font-size: 14px;
}
.timestamp {
    color: #555;  position: absolute; height: 24px; 
    bottom: -35px;  
    right: 0px;
    text-align: right;  font-family: sans-serif; 
    font-size: 12px;
    opacity: 0.8;
}
#counter-container {
    position: absolute;
    top: 42%;
    height: 40px;
    width: 60px;
    border: solid 3px white;
    border-radius: 4;
    margin: 0px 91px;
}
#counter {
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-family: sans-serif;
    letter-spacing: 3px;
}
#qty {
    width: 100%;
    padding: 7px 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    background-color: white;
}
#post-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#thread {
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

#thread-post-container {
    position: relative;
    width: 800px; 
    height: 250px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #547bc7;
}

.thread-image {
    width: 220px;
    height: 220px;
    padding: 15px;
    float: left;
}

#thread-post {
    height: 220px;
    width: 550px;
    margin-top: 15px;
    float: left;
    font-family: Arial;
    position: relative;
    line-height: 1.5;
}

#thread-post-title {
    position: absolute;
    color: Black;
    font-weight: 900; 
    font-size: 18;
    text-align: left;
    letter-spacing: 1px;
    top: 0px;
    border-bottom: 1px solid #222;
}

#thread-post-description {
    position: absolute;
    margin-top: 15px;
    height: 100%;
    width: 535px;
    font-family: Arial;
    font-weight: 100;
    font-size: 14;
}

#thread-post-details {
    font-size: 12px;
    font-family: Arial;
    color: #999;
    word-spacing: 2px;
    font-weight: 500;
}

#thread-author {
    color: #547bc7;
}

#thread-post-extra {
    position: relative;
    word-spacing: 10px;
    width: 795;
    font-family: Arial;
    font-size: 12px;
    margin-top: 10px;
}

#post-menu {
    float: right;
    margin-right: 5px; 
    font-weight: 600;
}

.gold {
    word-spacing: 0;
    color: #edca10;
    font-weight: 500;
}

#comment-section {
    position: relative;
    border-top: dotted 1px #777;
    height: 100%;
    margin-top: 10px;
}

#comment-header {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #333;
    font-family: Arial;
    font-size: 16;
    font-weight: 600;
}

.button-element {
    background-color: #547bc7;
    color: white;
    padding: 1px 3px;
    border-radius: 5px;
}

#submit-comment-container {
    position: relative;
}

.submit-header {
    font-family: Arial;
    font-size: 14;
    font-weight: 600;
    margin-bottom: 5px;
}

#submit-box {
    height: 110px;
    width: 500px;
    border: solid 1px #000;
    background-color: white;
    border-radius: 2px;
    box-shadow: inset 0 0 4px #888;
}

#submit {
    margin-top: 5px;
    position: relative;
    vertical-align: middle;
}

#submit-button {
    vertical-align: middle;
    padding-bottom: 2px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

#comment-container {
    position: relative;
    margin-top: 20px;
    width: 80%;
    height: 200px;
}

#vote-button-container {
    position: relative;
    padding: 0px 2px;
    top: 0;
    left: 0;
    float: left;
}

#arrow {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #AAA;
    border-radius: 3px;
}

#votes {
    font-family: Arial;
    font-weight: 600;
    text-align: center;
    margin: 2px 0px;
}

#comment {
    position: relative;
    float: left;
    width: 500px;
    height: 60px;
    margin-left: 2px;

    padding: 2px;
}

#header {
    position: absolute;
    padding: 3px;
    top: 0;
    left: 2;
    font-family: Arial;
    font-weight: 600;
    font-size: 12;
    border-bottom: solid 1px #999;
}

#comment-expand {
    height: 12px;
    width: 12px;
    float: left;
}

#comment-author {
    color: #547bc7;
    margin-left: 5px; 
    float: left;
    vertical-align: middle;
}

#comment-details {
    float: left;
    margin-left: 5px;
    color: #999;
    font-weight: 500;
}

#comment-box {
    position: relative;
    top: 25;
    width: 485;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    font-family: Arial;
    font-size: 14;
    font-weight: 200;
    text-align: left;
}

